<div class="container">
  <div class="content">
    <app-title1 title="Profile"></app-title1>
    <form [formGroup]="profile" (ngSubmit)="submit()">
      <input-container lable="Upload food">
        <div class="con">
          <div class="fooddiv">
            <div class="fooddiv1">
              <h5>Upload Image</h5>
              <p>PNG,JPG,and JPEG file are allowed</p>
            </div>
            <div class="fooddiv2">
              <label for="imageurl">
                <div class="uploadimg"><mat-icon>cloud_upload</mat-icon></div>
              </label>
              <p *ngIf="!foodimgpath">Browse to choose the file </p>
              <p *ngIf="foodimgpath"><mat-icon
                  style="font-size: 24px;padding: 0;color: lawngreen;">check</mat-icon>Uploaded</p>
            </div>
          </div>
          <input type="file" id="imageurl" placeholder="../../../assets/images/food/" accept=".png,.jpeg,.jpg"
            formControlName="image" (change)="onFileSelected($event) ">
        </div>
      </input-container>




      <input-container lable="name">
      <div class="con" >
         <input type="text" id="name" placeholder="Name"  formControlName="name">
         <app-input-validation [control]="Fc.name" [showErrorsWhen]=" isSubmitted" class="error"></app-input-validation>

      </div>
</input-container>



      <input-container lable="Email">
      <div class="con" >
         <input type="email" id="email" placeholder="Email"  formControlName="email">
<app-input-validation [control]="Fc.email" [showErrorsWhen]="isSubmitted" class="error"></app-input-validation>
      </div>
</input-container>


<input-container lable="Address">
<div class="con" >
   <input type="text" id="Address" placeholder="Address"  formControlName="address">
</div>
</input-container>


<input-container lable="Phono number">
<div class="con" >
   <input type="number" id="Phonono" placeholder="Phoneno"  formControlName="Phoneno">
</div>
</input-container>
<div class="button">
  <button type="submit">upload</button>
</div>

    </form>
  </div>
</div>
