<div class="container">
  <div class="content">
    <app-title1 title="Change password"></app-title1>
    <form [formGroup]="changepd" (ngSubmit)="submit()">
      <input-container lable="New Password" >
      <div class="con">
        <div class="x">
        <input [type]="ptyp" id="password" placeholder="Password" formControlName="cpassword">
        <mat-icon (click)="pshow()">{{pico}}</mat-icon>
        </div>
        <app-input-validation [control]="Fc.cpassword" [showErrorsWhen]=" isSubmitted" class="error"></app-input-validation>
      </div>
  </input-container>
  <input-container lable="New Confirm Password"  >
  <div class="con">
    <div class="x">
      <input [type]="cptyp" id="confirmPassword" placeholder="Confirm Password" formControlName="cconformpssword">
      <mat-icon (click)="cpshow()">{{cpico}}</mat-icon>
      </div>
      <app-input-validation [control]="Fc.cconformpssword" [showErrorsWhen]="isSubmitted" class="error"></app-input-validation>

  </div>
  </input-container>
  <div class="button">
    <button type="submit">Change password</button>
  </div>
    </form>

  </div>
</div>
