<app-title1 title="Order"></app-title1>
<app-not-found con="No Order founded" but="Back to home" *ngIf="!order.length"></app-not-found>



<div *ngIf="order">
  <li *ngFor="let x of order">
    <div class="cont">
      <div class="content">

        <div>
          <h2 class="orderid">Order#{{x.id}}</h2>
        </div>
        <div>
          <app-order-user-detail [order]="x"></app-order-user-detail>
        </div>
        <div>
          <order-item-list [order]="x"></order-item-list>
        </div>

      </div>
      <div class="map">
        <app-title1 title="Shipping Address"></app-title1>
        <app-map [order]="x" [x]="true"></app-map>
      </div>
      <div class="button-con" *ngIf="x.status==='NEW'">
        <div class="button">
          <button (click)="createOrder()">Go To Payment</button>
        </div>
      </div>
    </div>

  </li>
</div>
