.con1{
  width: 100%;
}
.search{
  width: 300px;
  margin: 1rem auto .5rem;

}
input[type="date"]{
  font-size: 2rem;
  width: 300px;
  margin: 1rem 0.5rem;
  border-radius: 2rem;
  padding: .5rem;
}
a{
  color: #000;
  text-decoration: none;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tr{
  border-bottom: 2px solid lightgray;
  padding: 2px;
}
td{
  padding: 5px;
}
th{
  text-align: start;
}
.blur{
  cursor: pointer;
  filter: blur(2px);
}
 .clear{
  filter: blur(0px);

 }
