*{
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.x{
  width: 150px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 15px;
  border: 2px solid rgb(14, 228, 143);

}
.x a{
  color: rgb(236, 29, 46);

}
.x:hover,
.x a:hover{
  background-color: rgb(14, 228, 143);
  color: white;
}
a span{
  margin-left: 5px;

}


@media (max-width:664px) {
  *{
    font-size: 1rem;
  }
  .x{
    width: auto;
    margin: 5px;
  }
  .main{
    justify-content: left;
    align-items: left;
  }
}
